<div class="container">
    <h5>About</h5>
    <div class="row">
      <div class="col-sm">
        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/84895688-5de4-4b00-87dd-f8694b684af2-profile_image-70x70.png"/>
      </div>
      <div class="col-sm">
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nam quasi harum laboriosam officiis reiciendis necessitatibus ut iure, saepe provident dolorum nulla minus vero nemo veniam quaerat molestias tenetur incidunt.</p>
      </div>
    </div>
</div>
