<div class="container-fluid bg-dark">
    <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
        <div class="col">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quos beatae accusamus, vero, earum, suscipit distinctio itaque totam placeat quasi asperiores perferendis ab dolore ratione culpa maxime iste dolor dolorem?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas aliquid, sunt, perferendis neque voluptates fugiat a animi cum natus, molestias vel totam iusto quo consequatur possimus iure consequuntur. Necessitatibus, ipsam?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt et obcaecati minima soluta reprehenderit fuga amet dolores, quae itaque modi nobis, ut rem fugiat neque sed excepturi deserunt magnam quo.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos rem consequatur facere aliquid deserunt quod. Deleniti sunt doloremque necessitatibus ratione magni incidunt recusandae, exercitationem, facilis amet consequuntur, cupiditate officiis quos.
            </p>
        </div>
        <div class="col">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quos beatae accusamus, vero, earum, suscipit distinctio itaque totam placeat quasi asperiores perferendis ab dolore ratione culpa maxime iste dolor dolorem?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas aliquid, sunt, perferendis neque voluptates fugiat a animi cum natus, molestias vel totam iusto quo consequatur possimus iure consequuntur. Necessitatibus, ipsam?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt et obcaecati minima soluta reprehenderit fuga amet dolores, quae itaque modi nobis, ut rem fugiat neque sed excepturi deserunt magnam quo.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos rem consequatur facere aliquid deserunt quod. Deleniti sunt doloremque necessitatibus ratione magni incidunt recusandae, exercitationem, facilis amet consequuntur, cupiditate officiis quos.
            </p>

        </div>
        <div class="col">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quos beatae accusamus, vero, earum, suscipit distinctio itaque totam placeat quasi asperiores perferendis ab dolore ratione culpa maxime iste dolor dolorem?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas aliquid, sunt, perferendis neque voluptates fugiat a animi cum natus, molestias vel totam iusto quo consequatur possimus iure consequuntur. Necessitatibus, ipsam?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt et obcaecati minima soluta reprehenderit fuga amet dolores, quae itaque modi nobis, ut rem fugiat neque sed excepturi deserunt magnam quo.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos rem consequatur facere aliquid deserunt quod. Deleniti sunt doloremque necessitatibus ratione magni incidunt recusandae, exercitationem, facilis amet consequuntur, cupiditate officiis quos.
            </p>

        </div>
    </div>
    
</div>
